/* :root表示 <html> 元素 声明全局 CSS 变量 */
:root {
  --primary-color: #ff9854;
  --line-color: #faf8f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* vant van-tabbar组件 图标大小 */
  /* --van-tabbar-item-icon-size: 30px !important; */

  /* 全局修改: 修改Vant 搜索框搜搜索图标颜色 */
  --van-primary-color: var(--primary-color);
  --van-nav-bar-title-text-color: var(--primary-color) !important;
  --van-search-left-icon-color: var(--primary-color) !important;
}

body {
  font-size: 14px;
}

/* 组件中隐藏tabbar */
.top-page {
   /* 定位元素才能设置z-index */
  position: relative;
  z-index: 9;
  height: 100vh;
   /* 背景不能为透明 */
  background-color: #fff;

   /* y轴超出内容滚动: 在当前页面滚动 不然窗口滚动 tabbar会出现 */
  overflow-y: auto;
}

/* 底部分割线 */
.bottom_gray_line {
  border-bottom: 1px solid var(--line-color);
}

/* 详情页面小图标 */
.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}